.head-text{
    position: relative;
    color: darkslategrey;
}
    
.center-text{
    position: absolute;
      top: 20%;
      left: 40%;
      transform: translate(-50%, -50%);
}

.head-image{
    width: auto;
    max-width: 100%;
    object-fit:cover;
}

.resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.city-text{
    font-style: oblique;
    font-weight: bold;
}

